# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
explore_delete.py

# Virtual environment
venv/

# Test reports
reports/

# Pytest cache
.cache/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Local environment file
.env

# Log files
*.log
network.har
videos
*.png
DELETE_EMPLOYEE_SUMMARY.md