# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Test reports
reports/

# Pytest cache
.cache/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Local environment file
.env